/*

Theme Name: NOO Citilights
Theme URI: https://www.nootheme.com/
Author: NooTheme
Author URI: https://www.nootheme.com/
Description: Citilights is a premium responsive WordPress theme dedicatedly crafted for Property listing portal, as well as Agent and Agency's website. Understanding what online real estate business demands, we included in this theme viable functions such as Front-end submission, Membership Subscription, Google map integration, Advanced search, Property Featuring, dsIDXpress IDX Plugin support and more. To turn to the design, we make sure that it brings out premium look and feel to boost your credibility. Various property listing layouts are available and all are fully responsive. Whether you are building a Property Sales and Rentals website, or you are an agent/agency looking to expand your online presence, Citilights is the right fit for you.
Version: 2.3.2
License: GNU General Public License v2.0
License URI: http://www.gnu.org/licenses/gpl-2.0.html
Tags: two-columns, left-sidebar, right-sidebar, fixed-layout, responsive-layout, custom-background, custom-header, custom-menu, editor-style, featured-images, flexible-header, full-width-template, sticky-post, theme-options, translation-ready
Text Domain: noo
*/


.navbar {
    height: auto;
    background-color: #191c20;
    border-bottom: none;
}

.navbar-nav li > a:hover, .navbar-nav li > a:focus, .navbar-nav li:hover > a, .navbar-nav li.sfHover > a, .navbar-nav li.current-menu-item > a, .noo-topbar .topbar-inner .topbar-content a:hover, .noo-topbar .topbar-inner .noo-social a i:hover {
    color: #506ED0;
}

.noo-topbar .topbar-inner .topbar-content a {
    color: #C4C4C5;
}

#menu-main-menu{
    margin-top: 10px;
}

.noo-topbar, .noo-header, .navbar-fixed-left, .navbar-fixed-right {
    background-color: #191c20;
}

.noo-topbar .topbar-inner .noo-social a i {
    border-radius: 0;
    color: #fff;
    width: 29px;
    height: 29px;
    line-height: 29px;
    border: 0;
    background: #191c20;
}

.noo-topbar{
    border-bottom: none;
    z-index: 0;
}

.noo-text-block.top-section{
    background: rgba(25,28,32,0.95);
    margin: 0;
    text-align: center;
}

.noo-text-block.top-section h4{
    padding-top: 30px;
    padding-bottom: 30px;
    text-transform: uppercase;
}

.noo-text-block.top-section p{
    padding-bottom: 30px;
}

.navbar-brand .noo-logo-img {
    position: absolute;
    height: 100px !important;
}

.properties{
    padding-top: 20px;
}

.user-sidebar-menu .user-menu-links a:hover, .user-sidebar-menu .user-menu-links a:focus, .user-sidebar-menu .user-menu-links a.active {
    color: #253e8f;
}

.properties-header .properties-ordering .form-group .dropdown .dropdown-menu li a:hover {
    color: white;
}

.noo-map{
    background: none;
}

.properties.list .property-summary{
    position: relative;
}

.properties.my-properties .submission-payment .payment-total, .properties.my-properties .submission-payment .payment-action{
    border: none;
}

.properties-header .page-title{
    text-align: right;
}

.navbar-nav li.current-menu-item > a, .navbar-nav li.active > a {
    /*background-color: #253e8f;*/
    color: #fff;
    text-transform: uppercase;
    font-weight: 600;
    border-bottom: 3.5px solid #253e8f;
}
.navbar-nav li > a{
    margin-right: -4px;
    font-family: "Varela Round", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.navbar-nav li > a, .navbar-nav ul.sub-menu li > a {
    color: #c4c4c5;
    text-transform: uppercase;
    font-weight: 600;
}

.navbar .navbar-nav > li > a{
    padding: 0px 30px;
    margin-top: 7px;
    line-height: 45px !important;
}

.navbar-nav li > a:hover, .navbar-nav li > a:focus {
    color: #fff;
    /*background-color: #253e8f;*/
    border-bottom: 3.5px solid #253e8f;

}

.welcome-container .sub-title{
    border-bottom: 3px solid #253e8f;
    width: 650px;
    margin: 0 auto;
    padding-bottom: 10px;
}

[data-parallax="1"].parallax{
    background-repeat: no-repeat !important;
}

.buyer-seller h4{
    color: white;
    font-size: 33px;
}

.info-number{
    width: 500px;
    margin: 0 auto 35px;
    display: block;
    text-align: center;
}

button[disabled], html input[disabled]{
    cursor: no-drop;
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    text-transform: uppercase;
    color: white;
    border: none;
    background: #d9534f;
    font-size: 24px;
    font-weight: 600;
    border-radius: 7px;
}

button, html input[type="button"], input[type="reset"], input[type="submit"] {
    -webkit-appearance: button;
    cursor: pointer;
    /*width: 100%;*/
    text-transform: uppercase;
    font-size: 24px;
    margin-bottom: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    color: white;
    border: none;
    background: #253e8f;
    font-weight: 600;
    border-radius: 7px;
    transition: 0.5s ease all;
}

.calling-info .calling-content{
    display: none;
}

.calling-info{
    border-left: none;
}

.noo-topbar .topbar-inner.content_left .topbar-content {
    float: right;
}

#aaiu-uploader{
    bottom:25px;
}

.noo-slider .caroufredsel_wrapper .sliders .slide-item.noo-property-slide .slide-caption{
    display: none;
}

.page-id-6841 .page-title{
    display:none;
}

.noo-slider .caroufredsel_wrapper {
    cursor: default !important;
}

.noo-map.no-map .gsearch{
    padding-top: 0;
}

.noo-map .gsearch .gsearch-content .gsearch-action{
    width: 20%;
}

.noo-map .gsearch .gsearch-content .gsearch-action .gsubmit {
    position: absolute;
    top: 120px;
    bottom: 51px;
    right: 44px;
}

.noo-map .gsearch .gsearch-content .gsearch-action .gsubmit button{
    min-height: 55px;
    font-size: 16px;
}

a.go-to-top {
    color: #253e8f;
    background-color: rgba(0, 0, 0, 0.55);
}

.colophon{
    background-size: cover;
}

.btn-secondary, .btn-thirdary, .wpcf7-submit, .noo-slider .caroufredsel_wrapper .sliders .slide-item.noo-property-slide .slide-caption .slide-caption-action a, .noo-map .gsearch .gsearch-content .gsearch-action .gsubmit button, .properties .hentry .property-info .property-action a, .page-fullwidth .properties.list .property-fullwidth-action.property-action a, .recent-properties .recent-properties-content .property-row .hentry .property-summary .property-info .property-action, .recent-properties .recent-properties-content .property-row .hentry .property-summary .property-info .property-action a, .recent-properties.recent-properties-featured .property-info .property-action a, .agents.grid .hentry .agent-wrap .agent-desc .agent-action a{
    color: #fff;
}

.noo-text-block, h3, h2{
    color: #fff;
}

.vc_btn3.vc_btn3-color-blue, .vc_btn3.vc_btn3-color-blue.vc_btn3-style-flat{
    background-color: #253e8f;
}

.vc_btn3.vc_btn3-color-blue.vc_btn3-style-flat:focus, .vc_btn3.vc_btn3-color-blue.vc_btn3-style-flat:hover, .vc_btn3.vc_btn3-color-blue:focus, .vc_btn3.vc_btn3-color-blue:hover{
    background-color: #191c20;
}

.footer-more .container-boxed.max img{
    width: 35%
}

.page-title{
    text-align: center;
}

.noo-text-block.support-content, h3 {
    color: black;
}

a.navbar-toggle{
    color: #253e8f !important;
}

.noo-pricing-column .text-center{
    padding-bottom: 0 !important;
}

.home.page .noo-vc-row.row{
    padding-bottom:0 !important;
}

.text-center{
    padding-bottom: 100px !important;
}

.noo-logreg .logreg-title {
    font-size: 24px;
    margin-bottom: 15px;
    padding-bottom: 15px;
    color: black;
    font-weight: 600;
    border-bottom: 3px solid #5f5f5f;
    text-align: center;
}

.noo-text-block h3{
    color: #fff;
}

.noo-sidebar-wrapper .package-info{
    background: #121623;
    width: 170px;
    padding-top: 8px;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 8px;
    border-radius: 4px;
    text-align: center;
    margin-left: 20px;
    margin-bottom: 20px;
    display: block;
}

form.subscription_post label.checkbox-label{
    display: none;
}

.noo-sidebar-wrapper .dashboard-sidebar-title{
    margin: 30px 0 18px;
}

.noo-sidebar-wrapper .package-info a{
    color: white;
}

.subscription-box{
    background: #F8F8F8;
    padding: 38px;
}

.subscription-box h3{
    margin: 0 0 30px 0;
}

.subscription-box a{
    background: #253e8f;
    padding: 10px 50px;
    border-radius: 6px;
    color: #fff;
    font-weight: 600;
}

.subscription-box a:hover{
    color: #fff;
    background: black;
}

.subscription-box p{
    margin-bottom: 30px;
}

.noo-pricing-table.classic .noo-pricing-column.featured .pricing-header, .noo-pricing-table.ascending .noo-pricing-column.featured .pricing-content .pricing-value{
    background: #253e8f;
}

.form-group.s-prop-sub_location ul{
    height: 250px;
    overflow: auto;
}

#profile_form .form-group{
    margin-bottom: 17px;
}
#profile_form .btn.btn-primary.btn-lg{
    width: 100%;
}


#password_form .btn.btn-primary.btn-lg{
    font-size: 21px;
    width: 100%;
}

.steps-link{
    color: #253e8f;
}

.steps-link:hover{
    color: white;
    font-weight: 900;
}

.logreg-desc{
    color: black;
}

.vc_btn3.vc_btn3-color-black.vc_btn3-style-flat:focus, .vc_btn3.vc_btn3-color-black.vc_btn3-style-flat:hover, .vc_btn3.vc_btn3-color-black:focus, .vc_btn3.vc_btn3-color-black:hover{
    background: #253e8f !important;
}

.properties .hentry .property-detail > div span{
    -webkit-filter: hue-rotate(100deg);
    -moz-filter: hue-rotate(100deg);
    -ms-fiter: hue-rotate(100deg);
    -o-filter: hue-rotate(100deg);
    filter: hue-rotate(100deg);
}

.read-more, .form-submit input[type="submit"]{
    color: #fff;
}

.comment-form-fields .read-more, .form-submit input[type="submit"]{
    width: 300px;
    display: block;
    margin: 0 auto;
}

.quick-search-title{
    border-bottom: 2px solid black;
}

.noo_advanced_search_property.vertical .gsearch .gsearch-wrap .gsearch-content .gsearch-action .gsubmit button{
    background: #253e8f;
    color: white;
}

.contact-container{
    padding-bottom: 20px;
}

.contact-container p{
    padding-top: 20px;
}

a.btn.btn-secondary.active {
    background: #253E8F;
    border: none;
    transition: 0.3s linear;
}

a.btn.btn-secondary.active:hover     {
    background: #000;
    border: none;
    transition: 0.3s linear;
}

.page-id-6163 #password_form{
    display: none;
}

.colophon.wigetized.hidden-print{
    padding: 2% 0 2%;
    background: none;
    background: rgba(0,0,0,0.90);
}

.colophon.site-info .footer-more {
    background-color: rgba(0,0,0,0.90);
}

.logreg-action input#btncheck.button{
    width: 100%;
}

.noo-map.no-map .gsearch, .colophon.wigetized:before{
    background: #191c20;
}

.page-id-7265 .noo-map.no-map .gsearch{
    background: white;
}

.noo-pricing-table.ascending .noo-pricing-column{
    float: left;
    width: 20%;
}

.subscription_post .btn-primary{
    color: black !important;
    border-bottom: 2px solid black !important;
}

.subscription_post .btn-primary:hover{
    opacity: 0.5 !important;
}

.submit-content a.pricing{
    color: #253E8F;
    text-decoration: underline !important;
}

.submit-content a.pricing:hover{
    opacity: 0.5;
    color: #253e8f;
}

@media (max-width: 1200px){
    .quick-search-title, .noo_advanced_search_property.support-search{
        display: none;
    }
    .noo-pricing-table.ascending .noo-pricing-column{
        width: 50%;
        display: block;
        margin: 0;
    }
}

@media (max-width: 991px){
    .navbar-nav li {
        background: #191c20;
    }

    .navbar .navbar-nav > li > a{
        margin: 0;
        border-bottom: none;
    }

    .navbar-brand .noo-logo-img{
        height: 90px;
        top: 70px;
    }

    .noo-map .gsearch .gsearch-content .gsearch-action {
        width: 100% !important;
        background: none !important;
    }

    .noo-map .gsearch .gsearch-content .gsearch-field{
        background: none !important;
    }

    .noo-map .gsearch .gsearch-content .gsearch-action .gsubmit {
        top: 0 !important;
        bottom: 0 !important;
        right: 0 !important;
    }

    .noo-topbar{
        display: block;
        z-index: 10001;
        padding-top: 10px;
    }

    .colophon.site-info .footer-more .noo-bottom-bar-content{
        text-align: center;
        margin-bottom: 20px;
    }

    .footer-more .container-boxed.max img{
        margin: 0 auto;
        display: block;
        margin-top: 60px;
    }

    h4.widget-title{
        margin-top: 30px;
    }
}

@media (max-width: 768px){
    #menu-main-menu {
        margin-top: 0;
    }

    .welcome-container .sub-title{
        width: 80%;
    }
}

@media (max-width: 480px) {
    .noo-topbar .topbar-inner .topbar-content li {
        padding: 0 10px;
        font-size: 11px;
    }

    .noo-topbar .topbar-inner.content_left .noo-social {
        display: none;
    }

    .navbar-brand .noo-logo-img, .navbar-brand .noo-logo-retina-img {
        height: 70px !important;
        top: 60px;
    }

}