// @import "bootstrap/variables.less";
// @import "bootstrap/mixins.less";
// @import "mixins.less";
// @import "variables.less";

// =============================================================================
// Font Awesome
// =============================================================================
// @font-face {
// 	font-family: 'fontawesome';
// 	src: url('../fonts/font_awesome/fontawesome-webfont.eot?v=4.5.0');
// 	src: url('../fonts/font_awesome/fontawesome-webfont.eot?#iefix&v=4.5.0') format("embedded-opentype"),
// 	url('../fonts/font_awesome/fontawesome-webfont.woff?v=4.5.0') format("woff"),
// 	url('../fonts/font_awesome/fontawesome-webfont.woff2?v=4.5.0') format("woff2"),
// 	url('../fonts/font_awesome/fontawesome-webfont.ttf?v=4.5.0') format("truetype"),
// 	url('../fonts/font_awesome/fontawesome-webfont.svg?#fontawesome&v=4.5.0') format("svg");
// 	font-weight: normal;
// 	font-style: normal;
// }

.nooicon {
	display: inline-block;
	font-family: @icon-font-family;
	font-style: normal;
	font-weight: normal;
	text-decoration: inherit;
	-webkit-font-smoothing: antialiased;
	speak: none;

	&:before {
		speak: none;
		line-height: 1;
	}
}

a {
	[class^="fa-"],
	[class*=" fa-"] {
		display: inline-block;
	}
}

.nav {
	[class^="fa-"],
	[class*=" fa-"] {
		display: inline;
		margin-right: 0.5em;
	}
}

li, .nav li {
	[class^="fa-"],
	[class*=" fa-"] {
		display: inline-block;
		width: 1.25em;
		text-align: center;
	}
}

[class^="fa-"],
[class*=" fa-"] {
	&.left {
		margin-right: 0.3em;
	}
	&.right {
		margin-left: 0.3em;
	}
}

// ---------------------------------------------------------
// Social Style
// ---------------------------------------------------------
.noo-social {
	font-weight: 400;
	line-height: 1;
	.translate3d(0, 0, 0); 
	a {
		// display: inline-block;
		text-align: center;
		margin-left: 8px;
		font-size: 16px;
		text-decoration: none;
		color: @white;
		i {
			display: block;
			width: 38px;
			height: 38px;
			border: 2px solid;
			color: @white;
			border-radius: 50%;
			line-height: 38px;
			-webkit-transition: all 0.4s ease;
			-moz-transition: all 0.4s ease;
			-o-transition: all 0.4s ease;
			-ms-transition: all 0.4s ease;
			transition: all 0.4s ease;
			&:hover {
				background: transparent;
			}
		}
		.fa-facebook {
			background: #3c599f;
			border-color: #3c599f;
			&:hover {
				color: #3c599f;
			}
		}
		.fa-twitter {
			background: #5dd7fc;
			border-color: #5dd7fc;
			&:hover {
				color: #5dd7fc;
			}
		}
		.fa-google-plus {
			background: #cc3433;
			border-color: #cc3433;
			&:hover {
				color: #cc3433;
			}
		}
		.fa-pinterest{
			background: #e63d44;
			border-color: #e63d44;
			&:hover {
				color: #e63d44;
			}
		}
		.fa-linkedin{
			background: #0077b5;
			border-color: #0077b5;
			&:hover {
				color: #0077b5;
			}
		}

		&:hover{
			color: @link-hover-color;
		}
	}

	a:first-child {
		margin-left: 0px;
	}

	&:extend(.clearfix all);
}
